.claim
    #carousel-example-generic.carousel.slide(data-ride='carousel')
        .carousel-inner
          .item.active
            .carousel-caption
              blockquote
                p
                  | First quote of you
                small
                  cite(title='Company title') Mr XYZ
                  | &comma; Company
          .item
            .carousel-caption
              blockquote
                p
                  | Some quote about you
                small
                  cite(title='Company title') Mrs XYZ
                  | &comma; Company