.skills
    h2 Skills
    h3 Skills that iam proud of
    .skill-wrapper.skill-wrapper-right
      .skill
        h3 Technics
        ul.list-unstyled
          li.col-xs-6
            h4 HTML
            dl.dl-horizontal
              dt HTML5
              dd
                mixin progress("50", "25")
              dt PHP
              dd
                mixin progress("50", "25")
              dt Markdown
              dd
                mixin progress("50", "25")
              dt XHTML
              dd
                mixin progress("50", "25")
              dt HTML4
              dd
                mixin progress("50", "25")
                
          li.col-xs-6
            h4 Javascript
            dl.dl-horizontal
              dt backbone.js
              dd
                mixin progress("50", "25")
                
              dt undescore.js
              dd
                mixin progress("50", "25")
              
              dt jQuery
              dd
                mixin progress("50", "25")
                
              dt ember.js
              dd
                mixin progress("50", "25")
                
              dt node
              dd
                mixin progress("50", "25")
                
          li.clearfix
         
          li.col-xs-6
            h4 CSS
            dl.dl-horizontal
              dt LESS
              dd
                mixin progress("50", "25")
                
              dt CSS 3
              dd
                mixin progress("50", "25")
                
              dt CSS 2.1
              dd
                mixin progress("50", "25")
                
          li.col-xs-6
            h4 XML
            dl.dl-horizontal
              dt XML
              dd
                mixin progress("50", "25")
                
              dt XSL
              dd
                mixin progress("50", "25")
                
              dt XLST
              dd
                mixin progress("50", "25")
                
    .skill-wrapper.row
      .skill.col-sm-6.col-xs-12
        h3 Personality
        ul
          li Something about your personality
          li more
      .skill.col-sm-6.col-xs-12
        h3 Sprachen
        ul
          li English
          li German
          li Spanish
      
      .clearfix
      
      .skill.col-sm-6.col-xs-12
        h3 Tools
        ul
          li Wordpress
          li node.js
          li Drupal
      .skill.col-sm-6.col-xs-12
        h3 Consulting
        ul
          li InDesign Scripting
          li Database Publishing
          li Social Media